@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-space-mono: 'Space Mono', monospace;
  --font-bricolage: 'Bricolage Grotesque', sans-serif;
}

body {
  font-family: var(--font-bricolage);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.font-mono {
  font-family: var(--font-space-mono);
}

.font-sans {
  font-family: var(--font-bricolage);
}
